@import "tailwindcss";

@theme {

  /* Colors */
  --color-primary: #0055A2;
  --color-secondary: #00386C;

  /* Fonts */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-display: var(--font-montserrat), ui-sans-serif, system-ui;
  
}
